body{
  font-family: 'Catamaran', sans-serif;
}
h1{
  text-align: center;
  font-family: 'Cedarville Cursive', cursive;
  font-size: 100px;
}
form{
  display: table;
  border-radius: 10px;
  width: 100%;
  margin: 0 auto;
  margin-bottom: 10px;
  padding: 10px;
  box-shadow: 3px 3px 3px #dbdbdb;
}
form h2{
  text-align: center;
}
input, label, select{
  display: table-cell;
  margin-left: 5%;
}
label{
  padding-left: 10%;
  width: 200px;
}
input, select{
  width: 90%;
}
input:focus, select:focus{
  outline: none;
}
.displayCalories{
  width: 100%;
  border-radius: 10px;
  margin: 0 auto;
  margin-bottom: 10px;
  background-color: #2541B2;
  padding: 15px;
  margin-top: 30px;
  box-shadow: 3px 3px 3px #dbdbdb;
}
.editForm{
  background-color: #06BEE1;
}
.editForm button, .editForm button:hover, .editForm button:active{
  border: 3px solid #0594af;
  background-color: rgba(255, 255, 255, 1);
  color: #0594af;
  border-radius: 10px;
}
.resources{
  width: 100%;
  border-radius: 10px;
  background-color: #03256C;
  padding: 15px;
  margin: 0 auto;
  margin-bottom: 10px;
  box-shadow: 3px 3px 3px #dbdbdb;
}
.resources h2{
  text-align: center;
}
.addForm{
  background-color: #1768AC;
}
.editForm label, .addForm label{
  color: white;
}
.addForm button, .addForm button:hover, .addForm button:active{
  border: 3px solid #114d7f;
  background-color: rgba(255, 255, 255, 1);
  color: #114d7f;
  border-radius: 10px;
}
.addForm h2, .displayCalories h2, .editForm h2, .resources h2{
  color: white;
}
button{
  float: right;
  margin-right: 5%;
}
h2{
  font-size: 35px;
}
h2 .editLink{
  font-size: 15px;
  color: #06BEE1;
}
h2 .editLink:hover{
  text-decoration:line-through;
  cursor: crosshair;
}
i{
  color: #707070;
}
.caloriesPipe label, .mealTimePipe label{
  display: inline;
  padding: 0;
}
.caloriesPipe select, .mealTimePipe select{
  width: 20%;
}
.caloriesPipe, .mealTimePipe {
  display: inline;
}
a, a:hover, a:active, a:focus {
  color: white;
}
a:hover{
  text-decoration: none;
}
