body{
  font-family: 'Dosis', sans-serif;
}
h1{
  text-align: center;
  font-family: 'Merriweather', serif;
  font-size: 100px;
  text-transform: uppercase;
  color: #0D3A49;
}
form{
  display: table;
  border-radius: 10px;
  width: 100%;
  margin: 0 auto;
  margin-bottom: 10px;
  padding: 10px;
  box-shadow: 3px 3px 3px #dbdbdb;
}
form h2{
  text-align: center;
}
input, label, select{
  display: table-cell;
  margin-left: 5%;
}
label{
  padding-left: 10%;
  width: 200px;
}
input, select{
  width: 90%;
}
select{
  border-radius: 0px;
  background-color: white;
}
input:focus, select:focus{
  outline: none;
}
.displayCalories{
  width: 100%;
  border-radius: 10px;
  margin: 0 auto;
  margin-bottom: 10px;
  background-color: #EA7983;
  padding: 15px;
  box-shadow: 3px 3px 3px #dbdbdb;
}
.editForm{
  background-color: #0092A5;
}
.editForm button, .editForm button:hover, .editForm button:active{
  border: 3px solid #007b8c;
  background-color: rgba(255, 255, 255, 1);
  color: #007b8c;
  border-radius: 10px;
  cursor: crosshair;
}
.resources{
  width: 100%;
  border-radius: 10px;
  background-color: #456990;
  padding: 15px;
  margin: 0 auto;
  margin-bottom: 10px;
  box-shadow: 3px 3px 3px #dbdbdb;
}
.resources h2{
  text-align: center;
}
.addForm{
  background-color: #BEE0B3;
}
.editForm label, .addForm label{
  color: white;
}
.addForm button, .addForm button:hover, .addForm button:active{
  border: 3px solid #8fcc7b;
  background-color: rgba(255, 255, 255, 1);
  color: #8fcc7b;
  border-radius: 10px;
  cursor: crosshair;
}
.addForm h2, .displayCalories h2, .editForm h2, .resources h2{
  color: white;
}
button{
  float: right;
  margin-right: 5%;
}
h2{
  font-size: 25px;
}
h2 .editLink{
  font-size: 15px;
  color: #0092A5;
}
h2 .editLink:hover{
  text-decoration:line-through;
  cursor: crosshair;
}
i{
  color: #707070;
}
.caloriesPipe label, .mealTimePipe label{
  display: inline;
  padding: 0;
}
.caloriesPipe select, .mealTimePipe select{
  width: 20%;
}
.caloriesPipe, .mealTimePipe {
  display: inline;
}
a, a:hover, a:active, a:focus {
  color: white;
}
a:hover{
  text-decoration: none;
  cursor: crosshair;
}
h3{
  font-size: 20px;
  line-height: 0.25;
}
h4{
  font-size: 15px;
}
